body {
  background: whitesmoke;
  overflow: hidden;
}

.portfolio-container {
  width: 100%;
}

.portfolio-container .profile-container {
  margin: 0% 10%;
  padding:10px 10%;
  min-height: calc(100vh - 5%);
  max-height: calc(100vh - 5%);
  overflow-y: auto;
  overflow-x: hidden;
  background: white;
}
.portfolio-container .profile-container .header-container{
  text-align:right;
}
.portfolio-container .profile-container .profile-section-container {
  margin-top:40px;
}
.portfolio-container .profile-container .profile-section-container .profile-section-header{
  font-weight:bold;
  font-size:15pt;
  border-bottom:2px solid black;
}
.portfolio-container .profile-container .header-container .name{
  font-size: 20pt;
}
.portfolio-container .profile-container .header-container .contact{
  font-size: 16pt;
}
.portfolio-container .profile-container::-webkit-scrollbar {
  width: 7px;
}
.portfolio-container .profile-container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: skyblue;
}
.flex-row{
  width:100%;
  display: flex;
}
.flex-row .align-start {
  align-items: flex-start;
}

.flex-row .justify-start {
  justify-content: flex-start;
}

.flex-row .align-center {
  align-items: center;
}

.flex-row .justify-center {
  justify-content: center;
}

.flex-row .align-end {
  align-items: flex-end;
}

.flex-row .justify-end {
  justify-content: flex-end;
}
.flex-row .col-1 {
  width: calc((100% / 12) * 1);
  min-width: calc((100% / 12) * 1);
  max-width: calc((100$ / 12) * 1);
}

.flex-row .col-2 {
  width: calc((100% / 12) * 2);
  min-width: calc((100% / 12) * 2);
  max-width: calc((100$ / 12) * 2);
}

.flex-row .col-3 {
  width: calc((100% / 12) * 3);
  min-width: calc((100% / 12) * 3);
  max-width: calc((100$ / 12) * 3);
}

.flex-row .col-4 {
  width: calc((100% / 12) * 4);
  min-width: calc((100% / 12) * 4);
  max-width: calc((100$ / 12) * 4);
}

.flex-row .col-5 {
  width: calc((100% / 12) * 5);
  min-width: calc((100% / 12) * 5);
  max-width: calc((100$ / 12) * 5);
}

.flex-row .col-6 {
  width: calc((100% / 12) * 6);
  min-width: calc((100% / 12) * 6);
  max-width: calc((100$ / 12) * 6);
}

.flex-row .col-7 {
  width: calc((100% / 12) * 7);
  min-width: calc((100% / 12) * 7);
  max-width: calc((100$ / 12) * 7);
}

.flex-row .col-8 {
  width: calc((100% / 12) * 8);
  min-width: calc((100% / 12) * 8);
  max-width: calc((100$ / 12) * 8);
}

.flex-row .col-9 {
  width: calc((100% / 12) * 9);
  min-width: calc((100% / 12) * 9);
  max-width: calc((100$ / 12) * 9);
}

.flex-row .col-10 {
  width: calc((100% / 12) * 10);
  min-width: calc((100% / 12) * 10);
  max-width: calc((100$ / 12) * 10);
}

.flex-row .col-11 {
  width: calc((100% / 12) * 11);
  min-width: calc((100% / 12) * 11);
  max-width: calc((100$ / 12) * 11);
}

.flex-row .col-12 {
  width: calc((100% / 12) * 12);
  min-width: calc((100% / 12) * 12);
  max-width: calc((100$ / 12) * 12);
}
.experience-title{
  font-size:13pt;
  font-weight:bold;
}
.period{
  background: black;
  color:white;
  padding:5px 10px;
  border-radius:2px;
}
