body{
  background: whitesmoke;
  overflow:hidden;
}
.portfolio-container {
  width: 100%;
}
.portfolio-container .profile-container {
  margin:2% 10%;
    min-height: calc(100vh - 6%);
    max-height :  calc(100vh - 6%);
  overflow-y:auto;
  overflow-x:hidden;
  border: 1px solid red;
}
